<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.client.goparty"
    platformBuildVersionCode="36"
    platformBuildVersionName="16"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.camera" />
    <!-- Memungkinkan aplikasi membuat soket jaringan dan menggunakan protokol jaringan khusus. Browser dan aplikasi lain menyediakan sarana untuk mengirim data ke internet sehingga izin ini tidak diperlukan untuk mengirim data ke internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Memungkinkan aplikasi melihat informasi tentang sambungan jaringan, misalnya jaringan yang ada dan tersambung. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Memungkinkan aplikasi melihat informasi tentang jaringan Wi-Fi, misalnya apakah Wi-Fi diaktifkan dan nama perangkat Wi-Fi yang tersambung. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Mengizinkan apl mengubah keadaan konektivitas jaringan. -->
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- Mengizinkan apl mencegah ponsel tidur. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <!-- Aplikasi ini dapat muncul di atas aplikasi lain atau bagian lain pada layar. Ini dapat mengganggu penggunaan aplikasi biasa dan mengubah kemunculan aplikasi lainnya. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT" />
    <!-- Mengizinkan aplikasi untuk mengendalikan vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Mengizinkan aplikasi membaca konten penyimpanan bersama Anda. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Mengizinkan aplikasi menulis konten penyimpanan bersama Anda. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- Aplikasi ini dapat mengambil foto dan merekam video menggunakan kamera kapan saja. -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <!-- Aplikasi ini dapat merekam audio menggunakan mikrofon kapan saja. -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <!-- Memungkinkan aplikasi mengubah setelan audio global, misalnya volume dan pengeras suara mana yang digunakan untuk keluaran. -->
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Memungkinkan aplikasi melihat konfigurasi Bluetooth di ponsel, dan membuat serta menerima sambungan dengan perangkat yang disandingkan. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Memungkinkan aplikasi memindah tugas ke latar depan dan latar belakang. Aplikasi dapat melakukannya tanpa masukan dari Anda. -->
    <uses-permission
        android:name="android.permission.REORDER_TASKS" />
    <!-- Mengizinkan apl memulai sendiri segera setelah sistem selesai booting. Hal ini dapat memperpanjang waktu yang diperlukan untuk memulai ponsel dan memungkinkan apl memperlambat ponsel secara keseluruhan jika terus berjalan. -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Mengizinkan pengguna membeli item melalui Google Play dari dalam apl ini. -->
    <uses-permission
        android:name="com.android.vending.BILLING" />
    <!-- Mengizinkan aplikasi penayang mengakses ID iklan yang valid secara langsung atau tidak langsung. -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID" />
    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider" />
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.DIAL" />
            <data
                android:scheme="tel" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.SENDTO" />
            <data
                android:scheme="smsto" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.SEND" />
            <data
                android:mimeType="*/*" />
        </intent>
        <package
            android:name="com.facebook.katana" />
        <intent>
            <action
                android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
        <intent>
            <action
                android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND" />
        </intent>
        <package
            android:name="com.instagram.android" />
        <package
            android:name="com.android.creator" />
        <package
            android:name="com.mdid.msa" />
        <package
            android:name="com.samsung.android.deviceidservice" />
        <package
            android:name="com.coolpad.deviceidsupport" />
        <package
            android:name="com.heytap.openid" />
        <package
            android:name="com.heytap.mcs" />
        <package
            android:name="com.huawei.hwid" />
        <package
            android:name="com.huawei.hwid.tv" />
        <package
            android:name="com.huawei.hms" />
        <package
            android:name="com.asus.msa.SupplementaryDID" />
        <package
            android:name="com.zui.deviceidservice" />
        <package
            android:name="com.android.creator" />
        <package
            android:name="com.zhuoyi.security.lite" />
        <package
            android:name="com.freeme.secureguard" />
        <package
            android:name="com.android.secureguard" />
        <package
            android:name="com.hihonor.id" />
        <package
            android:name="com.qiku.id" />
        <package
            android:name="com.google.android.gms" />
        <package
            android:name="com.android.vending" />
    </queries>
    <!-- Memungkinkan aplikasi mengakses fitur telepon perangkat. Izin ini memungkinkan aplikasi menentukan nomor telepon dan ID perangkat, apakah suatu panggilan aktif atau tidak, dan nomor jarak jauh yang tersambung oleh sebuah panggilan. -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.camera.any" />
    <!-- Mengizinkan apl menerima pesan dari gemawan ke perangkat, yang dikirimkan oleh layanan apl. Layanan ini akan menyebabkan penggunaan data. Apl berbahaya dapat menyebabkan penggunaan data yang berlebihan. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_AD_ID" />
    <!-- Memungkinkan aplikasi mengambil informasi perujuk penginstalannya. -->
    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCE" />
    <uses-permission
        android:name="android.permission.ACCESS_ADSERVICES_TOPICS" />
    <permission
        android:name="com.client.goparty.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.client.goparty.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <uses-permission
        android:name="com.asus.permission.READ_SDID_PROVIDER" />
    <uses-permission
        android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission
        android:name="freemme.permission.msa" />
    <uses-permission
        android:name="freemme.permission.msa.SECURITY_ACCESS" />
    <uses-permission
        android:name="com.nemu.oaid.permission.read" />
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.relationship.coach.App"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="io.flutter.embedding.android.DisableMergedPlatformUIThread"
            android:value="true" />
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <activity
            android:theme="@style/LaunchTheme"
            android:name="com.relationship.coach.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/facebook_protocol_scheme" />
            </intent-filter>
            <intent-filter>
                <data
                    android:scheme="imee"
                    android:host="com.client.goparty" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Ucrop.CropTheme"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.client.goparty.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="com.netease.nimlib.mixpush.fcm.FCMTokenService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.relationship.coach.foreground_task.CommonService"
            android:exported="false"
            android:stopWithTask="true" />
        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.analytics.FlutterFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.messaging.FlutterFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.core.FlutterFirebaseCoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <service
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingBackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <service
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingInitProvider"
            android:exported="false"
            android:authorities="com.client.goparty.flutterfirebasemessaginginitprovider"
            android:initOrder="99" />
        <provider
            android:name="io.flutter.plugins.imagepicker.ImagePickerFileProvider"
            android:exported="false"
            android:authorities="com.client.goparty.flutter.image_provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_image_picker_file_paths" />
        </provider>
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
        <meta-data
            android:name="com.netease.nim.flutterSdkVersion"
            android:value="1.8.0" />
        <provider
            android:name="dev.fluttercommunity.plus.share.ShareFileProvider"
            android:exported="false"
            android:authorities="com.client.goparty.flutter.share_provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/flutter_share_file_paths" />
        </provider>
        <receiver
            android:name="dev.fluttercommunity.plus.share.SharePlusPendingIntent"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="EXTRA_CHOSEN_COMPONENT" />
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="io.flutter.plugins.urllauncher.WebViewActivity"
            android:exported="false" />
        <activity
            android:theme="@style/com_facebook_activity_theme"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="com.facebook.CustomTabMainActivity" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="fbconnect"
                    android:host="cct.com.client.goparty" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true" />
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter
                android:priority="-500">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.push.net.HeartbeatService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:process=":core" />
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.netease.nimlib.service.ResponseReceiver" />
        <service
            android:name="com.netease.nimlib.service.ResponseService" />
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:exported="false"
            android:authorities="com.client.goparty.ipc.provider.preference" />
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:exported="false"
            android:process=":core"
            android:authorities="com.client.goparty.ipc.provider" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.client.goparty.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider" />
        </service>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="7.1.1" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true" />
        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:exported="false"
            android:authorities="com.client.goparty.mlkitinitprovider"
            android:initOrder="99" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:exported="false"
            android:authorities="com.client.goparty.FacebookInitProvider" />
        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false" />
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="com.client.goparty.SentryPerformanceProvider"
            android:initOrder="200" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.client.goparty.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <provider
            android:name="org.extra.tools.ContextProvider"
            android:exported="false"
            android:authorities="com.client.goparty.org.libpag.contextprovider" />
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="io.agora.rtc2.extensions.MediaProjectionMgr$LocalScreenCaptureAssistantActivity"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize" />
        <service
            android:name="io.agora.rtc2.extensions.MediaProjectionMgr$LocalScreenSharingService"
            android:foregroundServiceType="mediaProjection" />
        <receiver
            android:name="cn.thinkingdata.analytics.utils.broadcast.TDReceiver"
            android:enabled="false"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true" />
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true" />
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store" />
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK" />
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3" />
    </application>
</manifest>